## Sqlite Module

In [1]:
import sqlite3
from sqlite3 import Error

def create_connection(db_file):
    """ create a database connection to the SQLite database specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    try:
        conn = sqlite3.connect(db_file)
        return conn
    except Error as e:
        print(e)
    return None


def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    cur.execute("select * from book")
    rows = cur.fetchall()

    for row in rows:
        print(row)# in row:
        


if __name__ == '__main__':
    database = "./data/books.db"
    # create a database connection
    conn = create_connection(database)
    with conn:
        select_all_tasks(conn)

(2, 'A Whole New World', 'Daniel Huang', 2005, 1111)
(4, 'Good Story', 'Johhny W.', 2015, 12345)
(6, 'Piglet ', 'Sabrina', 2016, 806)
(7, 'great book', 'Alice', 2003, 716)
(8, 'great ', 'Alice', 2003, 716)
(10, 'Wings of Fire', 'APJ Abdul Kalam', 2009, 1234567890)

In [3]:
import sqlite3
from sqlite3 import Error

def create_connection(db_file):
    """ create a database connection to the SQLite database specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    try:
        conn = sqlite3.connect(db_file)
        return conn
    except Error as e:
        print(e)
    return None


def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    cur.execute("select title,author from book where year>2010")
    rows = cur.fetchall()

    for row in rows:
        print(row)
        
if __name__ == '__main__':
    database = "./data/books.db"
    # create a database connection
    conn = create_connection(database)
    with conn:
        select_all_tasks(conn)

('Good Story', 'Johhny W.')
('Piglet ', 'Sabrina')

In [5]:
import sqlite3
from sqlite3 import Error

def create_connection(db_file):
    """ create a database connection to the SQLite database specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    try:
        conn = sqlite3.connect(db_file)
        return conn
    except Error as e:
        print(e)
    return None


def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    sql = """INSERT INTO BOOK(id,title,author,year,isbn)
    VALUES (15,'Test','Tester',2019,112233)"""
    try:
        cur.execute(sql)
        # Commit Changes to Database
        conn.commit()
    except:
        ## Rollback in case there is any error
        conn.rollback()
        
    cur.execute('select * from book where year = 2019')
    rows = cur.fetchall()

    for row in rows:
        print(row)
        
if __name__ == '__main__':
    database = "./data/books.db"
    # create a database connection
    conn = create_connection(database)
    with conn:
        select_all_tasks(conn)

(15, 'Test', 'Tester', 2019, 112233)

## Mysql

* Install a mysql client (Example : Xampp,wampp,etc)
* Start your client and then run the below blocks

In [ ]:
import pymysql
db = pymysql.connect("localhost","root","")
# prepare a cursor object using cursor() method
cursor = db.cursor()
# execute SQL query using execute() method.
cursor.execute("SELECT VERSION()")
# Fetch a single row using fetchone() method.
data = cursor.fetchone()
print ("Database version : {}".format(data))
# disconnect from server
db.close()

In [ ]:
import pymysql
db = pymysql.connect("localhost","root","")

cursor = db.cursor()

cursor.execute("create database testdb")
db.close()

In [ ]:
import pymysql
db = pymysql.connect("localhost","root","",'testdb')

cursor = db.cursor()
sql = """CREATE TABLE EMPLOYEE (
FIRST_NAME CHAR(20) NOT NULL,
LAST_NAME CHAR(20),
AGE INT,
GENDER CHAR(6),
INCOME FLOAT )"""
cursor.execute(sql)
db.close()

In [ ]:
import pymysql
db = pymysql.connect("localhost","root","",'testdb')

cursor = db.cursor()
sql = """INSERT INTO EMPLOYEE(FIRST_NAME,
LAST_NAME, AGE, GENDER, INCOME)
VALUES ('Rishabh', 'Raj', 28, 'M', 3000)"""


try:
    cursor.execute(sql)
    db.commit()
except:
## Rollback in case there is any error
    db.rollback()
db.close()

In [ ]:
import pymysql
db = pymysql.connect("localhost","root","",'testdb')

cursor = db.cursor()
sql = """select * from employee"""
cursor.execute(sql)
a = cursor.fetchone()
print(a)

In [ ]:
import pymysql
db = pymysql.connect("localhost","root","",'testdb')

cursor = db.cursor()
sql = """INSERT INTO EMPLOYEE(FIRST_NAME,
LAST_NAME, AGE, GENDER, INCOME)
VALUES ('Abhijeet', 'Patra', 29, 'M', 3000.56)"""


try:
    cursor.execute(sql)
    db.commit()
except:
## Rollback in case there is any error
    db.rollback()
db.close()